
@{
    ViewBag.Title = "Criar Tipo de Pokémon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar novo tipo de Pokémon</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Insira uma nova descrição">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

