@{
    ViewBag.Title = "Home Page";
}

<h1>Seja bem-vindo!</h1>
<div>
    <div>
        <img src="~/Content/images/001.png" />
        <img src="~/Content/images/002.png" />
        <img src="~/Content/images/003.png" />
        <img src="~/Content/images/004.png" />
        <img src="~/Content/images/005.png" />
        <img src="~/Content/images/006.png" />
        <img src="~/Content/images/007.png" />
        <img src="~/Content/images/008.png" />
        <img src="~/Content/images/009.png" />
    </div>
    <p>
        Seu projeto está rodando e você está quase pronto para o desafio Hands On. Verifique abaixo alguns pontos adicionais:
    </p>

    <ul>
        <li>
            Verifique se você tem alguma instância do SQL Server instalada, onde você consiga criar um novo banco de dados.
            A solução será responsável por criar as tabelas iniciais. Você pode testar a conexão antes do desafio, se quiser.
        </li>
        <li>Lembre-se de enviar o seu usuário do bitbucket por e-mail para que você tenha permissão para realizar o desafio.</li>
    </ul>
    <p>
        Você terá liberdade para fazer do seu jeito. Estaremos avaliando a lógica, adequação a arquitetura proposta,
        qualidade de código, performance e boas práticas. Pense que está fazendo algo que será entregue para um cliente.
    </p>
    <p>Boa sorte!</p>
</div>